@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Avenir Regular';
    src: url("/fonts/alfont_com_AlFont_com_Avenir-Regular.otf");
} */

:root {
    --white-1: #ffffff;
    --black-1: #010101;
    --black-green: #09130e;
    --green-1: #216144;
    --green-2: #43b27f;
    --green-3: #acd0a0;
    --green-4: #d0e6c9;
    --green-5: #e7f1e3;
    --yellow-1: #eece91;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Avenir Regular; */
    background: var(--green-5);
    font-size: 62.5%;
    direction: rtl;
}

html {
    font-size: 62.5%;
}

.mainContainer {
    width: 98%;
    max-width: 130rem;
    margin: auto;
}

@media (max-width: 77rem) {
    html {
        font-size: 50%;
    }
}
