.up{
    position: relative;
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.part1 {
    color: var(--black-1);
    font-size: 8rem;
    font-weight: 600;
    height: 75vh;
    padding: 12vh 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: animation-1 1s ease-in-out forwards;
}

.part2 > p{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.text > div {
    max-width: 60rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.text > div .image3d,
.text > div .image3d_2 {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
}

.image3d {
    top: 20%;
    left: -20%;
}

.image3d_2 {
    width: 15rem !important;
    height: 15rem !important;
    top: 50%;
    right: -50%;
}

@keyframes animation-1 {
    0% {
    }
    100% {
        opacity: 1;
    }
}

.specialSpan {
    color: var(--green-1);
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.specialSpan span {
    display: inline-block;
    font-size: 5rem;
    opacity: 0.5;
    text-align: center;
}

.specialSpan span:nth-of-type(1) {
    animation: animationText 3s 0s infinite;
}

.specialSpan span:nth-of-type(2) {
    animation: animationText 3s 1s infinite;
}

.specialSpan span:nth-of-type(3) {
    animation: animationText 3s 2s infinite;
}

@keyframes animationText {
    0%,
    100% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
}

.text p.sub {
    font-size: 1.7rem;
    font-weight: 500;
}

.text .join {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.text .join > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--white-1);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    background-color: var(--black-1);
    border-radius: 10rem;
    box-shadow: var(--box-shadow-1);
}

.text .join .icon {
    font-size: 1.5rem;
}

.text .join > div:nth-of-type(1) button {
    border: none;
    outline: none;
}

.text .join > div:nth-of-type(2) ul li {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid var(--green-3);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-left: -1.5rem;
    background-color: var(--white-1);
    box-shadow: var(--box-shadow-1);
}

.text .join > div:nth-of-type(2) ul li img {
    height: 90%;
}

.text .join > div:nth-of-type(2) > p {
    background-color: var(--yellow-1);
    color: var(--black-1);
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 10rem;
    box-shadow: var(--box-shadow-1);
}

.text .join > div:nth-of-type(2) > p span {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
}

.part2 {
    height: 25%;
}

.service {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.service > div {
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.6rem;
    background: var(--green-3);
    position: relative;
    box-shadow: var(--box-shadow-1);
    height: 13rem;
}

.service > div > .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
}

.service > div > div:nth-of-type(2) {
    padding: 1rem;
}

.service > div > div:nth-of-type(2) p {
    width: 80%;
    font-weight: 600;
    padding-bottom: 1rem;
}

.service > div > div:nth-of-type(2) p:nth-of-type(2) {
    font-size: 1.5rem;
    font-weight: 500;
}
.service > div > .img img {
    width: 6rem;
}

.service > div .arrow {
    position: absolute;
    top: -1rem;
    left: -1rem;
    background-color: var(--yellow-1);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    border: 1rem solid var(--white-1);
}

.service > div .arrow::before,
.service > div .arrow::after {
    content: "";
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--green-3);
}

.service > div .arrow::before {
    top: 0;
    right: -3rem;
    border-top-left-radius: 5rem;
    box-shadow: -0.7rem -0.8rem 0 0.4rem var(--white-1);
}

.service > div .arrow::after {
    bottom: -3rem;
    left: 0;
    border-top-left-radius: 5rem;
    box-shadow: -0.8rem -0.6rem 0 0.4rem var(--white-1);
}

.circle1,
.circle2 {
    position: absolute;
    z-index: -1;
    width: 50rem;
    height: 50rem;
    background-color: var(--green-4);
    filter: blur(5rem);
    border-radius: 50%;
}

.circle1 {
    top: -20rem;
    left: -20rem;
}

.circle2 {
    top: -10rem;
    right: -30rem;
    background-color: #ffc8637e;
}

@media (max-width: 767px) {
    .circle1 {
        left: -30rem;
    }

    .circle2 {
        right: -40rem;
    }

    .text > div .image3d,
    .text > div .image3d_2 {
        display: none;
    }
}

@media (max-width: 76rem) {
    .section {
        height: 100%;
        gap: 0rem;
    }
    .service {
        grid-template-columns: repeat(2, 1fr);
        padding: 4rem 2rem;
    }
}

@media (max-width: 40rem) {
    .service {
        grid-template-columns: repeat(1, 1fr);
    }
}
